<div class="tital">
    Why should you choose us?
</div>

<div class="flexcards">
    <div class="cards">
        <img src="/pictures/recipy.jpg" alt="" class="card-img">
        <h2 class="cardTital">Recipies</h2>
        <p class="para">We provide various Indian, Chinese, Thai, Italian dishes</p>
    </div>
    <div class="cards">
        <img src="/pictures/delivery.jpg" alt="" class="card-img">
        <h2 class="cardTital">Delivery</h2>
        <p class="para">Get Door to Door delivery at no cost</p>
    </div>
    <div class="cards">
        <img src="/pictures/hygine.jpg" alt="" class="card-img">
        <h2 class="cardTital">Hygine</h3>
        <p class="para">We maintain strict hygine in our kitchen</p>
    </div>
     <div class="cards">
        <img src="/pictures/a.jpg" alt="" class="card-img">
        <h2 class="cardTital">Low prices</h3>
        <p class="para">We provide fresh ingredients with fantastic taste at low cost</p>
    </div>
</div>