<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img
      src="/pictures/logo.png"
      alt=""
      style="border-radius: 50%; margin-right: 5px; height: 58px;"
    />
    <a class="navbar-brand" href="#">

      <span class="webname">FoodHub</span></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <button
          class="btn nav-item btn-lg mdl"
          onclick="window.location.href = '/'"
        >Home</button>
        <button
          class="btn nav-item btn-lg mdl"
          onclick="window.location.href = '/onthemenu'"
        >On the menu</button>
      </div>
      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        {{#if user}}
          {{#if can}}
            <button
              class="btn nav-item bg-danger bg-gradient btn-lg sn"
              onclick="window.location.href = '/kit/modify'"
            >Modify Mealkit</button>
          {{else}}
            <button
              class="btn nav-item bg-danger bg-gradient btn-lg sn"
              onclick="window.location.href = '/cart/shopping-cart'"
            >shopping cart</button>
          {{/if}}
          <button
            class="btn nav-item bg-danger bg-gradient btn-lg sn"
            onclick="window.location.href = '/user/logout'"
          >Logout</button>
        {{else}}

          <button
            class="btn nav-item bg-danger bg-gradient btn-lg sn"
            onclick="window.location.href = '/user/sign-in'"
          >Signin</button>
          <button
            class="btn nav-item bg-danger bg-gradient btn-lg sn"
            onclick="window.location.href = '/user/registration'"
          >SignUp</button>
        {{/if}}
      </div>

    </div>
  </div>
</nav>