* {
  box-sizing: border-box;
  margin: 0;
}

.sn {
  margin: 2px;
  color: white;
}
.sn:hover {
  font-weight: bold;
  color: white;
}
.mdl {
  color: white;
}
.mdl:hover {
  font-weight: bold;
  color: white;
}
.webname {
  font-family: "Pacifico", cursive;
  color: red;
  font-size: 33px;
}

.hero {
  position: relative;
  height: 515px;
  width: 100%;
}

.image {
  height: 515px;
  width: 100%;
}

.subimage {
  display: block;
  margin: auto;
  border: 4px solid black;
  height: 60vh;
  top: 28px;
  border-radius: 50%;
  position: relative;
}

.slides {
  display: none;
  height: 515px;
  width: 100%;
  background: url(/pictures/heroBackground.jpg);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin: -22px 60px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.Centeredtext {
  font-family: "Lobster", cursive;
  color: aqua;
  font-size: 90px;
  text-align: center;
  padding-top: 180px;
}

.subtext {
  font-family: "Lobster", cursive;
  color: darkblue;
  font-size: 45px;
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.tital {
  margin: 20px;
  text-align: center;
  font-family: "Lobster", cursive;
  color: darkblue;
  font-size: 50px;
}

.flexcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

body {
  background-color: lavender;
}

.cards {
  width: 400px;
  margin-bottom: 25px;
  margin-right: 25px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  max-width: 400px;
  background-color: khaki;
}

.cards:hover {
  transform: scale(0.95);
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
  transition: all 1s ease;
  cursor: pointer;
}

.card-img {
  width: 400px;
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.para {
  font-family: "Raleway", sans-serif;
  margin: 10px 10px;
}

.prc {
  color: red;
  margin: 10px 10px;
}
.cards h2 {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .cards {
    width: 160px;
  }
  .card-img {
    height: 160px;
    width: 160px;
  }
  .Centeredtext {
    font-size: 60px;
  }
  .prev,
  .next {
    margin: -22px 20px;
  }

  .footer ul {
    padding: 0px;
  }
  .kitimg {
    height: 100px;
  }
  .subimage {
    top: 130px;
    height: 28vh;
  }
}

/*Styling Form box part*/

.bottompart {
  height: 110vh;
  width: 98.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: url("/pictures/background.jpg") no-repeat;
  background-size: cover;
  background-color: #fff;
  position: relative;
}

.modifyTital {
  font-size: xx-large;
  margin: 20px;
  font-weight: bold;
  cursor: pointer;
}

.formpart {
  width: 450px;
  background-color: whitesmoke;
  box-shadow: 4px 3px 20px #3535358c;
  border-radius: 10px;
  padding: 2rem 2rem 4rem;
  margin: 30px auto;
}

.addkit div {
  display: flex;
  justify-content: start;
  align-items: center;
}

.addkit div label {
  min-width: 120px;
  margin: 5px;
}

.updatekit input {
  margin-bottom: 10px;
}
.formpart input {
  display: block;
}

.formpart form {
  left: 50%;
}

.formpart form h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 35px;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
}

label {
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  display: block;
}

.inputbox {
  width: 340px;
  padding: 0.5rem;
  border: 2px solid #b9b6b6;
  margin-bottom: 0.6rem;
  border-radius: 0.3rem;
  font-family: "Roboto", sans-serif;
  color: #615a5a;
  font-size: 1.1rem;
  font-weight: 500;
}

.radios {
  display: flex;
}

.submit-button {
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 1px;
  height: 38px;
  width: 340px;
  line-height: 38px;
  overflow: hidden;
  background: #4dbecf;
  border-radius: 3px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 5px;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: center;
}

.footer li {
  list-style: none;
  color: gainsboro;
}

.footer ul {
  padding: 10px 50px;
}

.footer a {
  text-decoration: underline;
  color: gainsboro;
}

.ftital {
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 15px;
}

.copyright {
  background-color: black;
  color: gainsboro;
  text-align: center;
  font-size: 16px;
}

.ftable {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.boldone {
  color: darkblue;
  font-size: xx-large;
  font-weight: bold;
}

.ftable tr {
  font-size: larger;
}

.welcome {
  height: 48vh;
  width: 100vw;
}

/*add and update mealkit data form*/

.mainForm {
  height: 110vh;
  width: 98.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-size: cover;
  background-color: #fff;
  position: relative;
}

.addform {
  width: 450px;
  background-color: whitesmoke;
  box-shadow: 4px 3px 20px #3535358c;
  border-radius: 10px;
  padding: 2rem 2rem 4rem;
}

.addform form h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 35px;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
}

.mainForm {
  display: table;
  clear: both;
}

.mainForm {
  height: 110vh;
  width: 98.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-size: cover;
  background-color: #fff;
  position: relative;
}

.addform {
  width: 450px;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem 2rem 4rem;
  display: inline-block;
  margin-left: 12rem;
  margin-bottom: 10rem;
}

.mlist {
  list-style: none;
}

.ud {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-left: 1rem;
}

.decr {
  font-size: 50px;
  font-weight: bold;
  color: red;
  margin-right: 0.5rem;
}

.exmki {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.exmki div {
  min-width: 350px;
  display: flex;
  align-items: center;
  margin: 20px;
}
.exmki div button {
  margin: 0px 5px;
}
