<div class="formpart addkit">
  <form action="/kit/add" method="post" enctype="multipart/form-data">
    <input type="text" id="Title" name="Title" placeholder="Title" />
    <input type="text" id="ing" name="ing" placeholder="Ingredients" />
    <input type="text" id="des" name="des" placeholder="Description" />
    <input type="text" id="cat" name="cat" placeholder="Category" />
    <input type="text" id="price" name="price" placeholder="Price" />
    <input type="text" id="time" name="time" placeholder="Cooking Time" />
    <input type="text" id="ser" name="ser" placeholder="Servings" />
    <input type="text" id="cal" name="cal" placeholder="Calories" />
    <input type="text" id="top" name="top" placeholder="Is it top meal?" />
    <input type="file" id="pic" name="pic" />
    <button type="submit" class="submit-button state-0">Submit</button>
  </form>
</div>