<button class="modifyTital" onclick="window.location.href= '/kit/add'">Add
  Mealkit</button>

<div class="tital" style="text-align: left;">
  Mealkits
</div>
<div>
  <ol>
    {{#each kits}}
      <div>
        <li>{{this.tital}}</li>
        <button
          onclick="window.location.href='/kit/update/{{this._id}}'"
        >Update</button>
      </div>

    {{/each}}
  </ol>

</div>